<div class="center">
        <%= form_with url: bill_path do |form| %>
          <div class="form-group">
            <%= form.label :Enter_Rent_Amount %>
            <%= form.number_field :rent_amount, class: 'form-control' %>
            <%= button_to 'submit'%>
            <% end %>
          </div>
</div>