<h1>Hi there,</h1>
<p> A new <%= @object.class.to_s %>  has been created below is details 
</p>
<br>
<% @object.attributes.each do |attr_key, attr_value |%>
<br>
<strong><%= attr_key%>:  </strong>  <%= attr_value%>
<% end %>

