/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 


.cont #user_role{
    width: 100%;
    font-size: 150%;
}
/* .cont #property_type{
  width: 100%;
  font-size: 150%;
}

.cont #sharing{
  width: 100%;
  font-size: 150%;
} */

body{
  
    background-color: #ca0a0a;
}

/* Resets */
img {
    max-width: 100%;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }

  ul {
    columns: 3;
  }

  .carousel-control.left, .carousel-control.right {
    left: 0 !important;
    z-index: 1 !important;
  }

  .carousel {
    position: relative;
    display: flex !important;
  }
