<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=image_tag props.avatar.first%>
    </div>
    <%props.avatar&.each do |p|%>
    <div class="carousel-item"> 
      <%=image_tag p%>
    </div>
    <%end%>
  </a>
</div>
