<div id="carouselExampleControls" class="carousel slide p-5 w-80" data-ride="carousel">
  <div class="carousel-inner w-auto">
    <div class="carousel-item active">
      <%=image_tag props.avatar.first, size: '5500x550'%>
    </div>
    <%props.avatar&.each do |p|%>
    <div class="carousel-item"> 
      <%=image_tag p%>
    </div>
    <%end%>
  </a>
</div>
