<div id="carouselExampleControls" class="carousel slide d-inline-flex p-2 w-60" data-ride="carousel">
  <div class="carousel-inner w-auto">
    <div class="carousel-item active">
      <%=image_tag props.avatar.first, size: '600x700'%>
    </div>
    <%props.avatar&.each do |p|%>
    <div class="carousel-item"> 
      <%=image_tag p%>
    </div>
    <%end%>
  </a>
</div>
